.fox-logo {
  width: 40rem;
  display: block;
  margin: 0 auto;
}

h1.leaderboard {
  text-align: center;
  font-family: 'Holtwood One SC', serif;
  font-weight: normal;
  font-size: 2.5em;
  margin:0 0 20px;
  text-shadow:0 0 6px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing:-1px;
}

.bracket-list {
  width: 400px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.right {
  text-align: right;
}

.inline {
  display: inline-block;
  padding-right: .5rem;
  vertical-align: middle;
  margin: auto;
}

.thumbnail {
  width: 50px;
}

.ranking {
  font-weight: bold;
  font-size: 22pt;
  padding-right: 1.5rem;
}

.score-total {
  font-weight: bold;
  font-size: 22pt;
  color: #0769B6;
}

a.name {
  font-family: sans-serif;
  color: #0769B6;
  text-transform: uppercase;
}

a.name:hover {
  color: #A50000;
}

.total {
  color: grey;
}

.trophy-img {
  width: 80px;
}

.winner-flag {
  width: 80px;
  margin: auto;
}

.correct-pick {
  color: green;
  font-weight: bold;
}

.incorrect-pick {
  color: red;
  text-decoration: line-through;
}

.no-entry {
  color: grey;
  font-style: italic;
}

p.possible-score.year {
  color:grey;
  font-size: 14px;
  letter-spacing: 5px;
}

.back-button {
  text-align: left;
  padding-left: 2rem;
  margin: 0;
  color: #0769B6;
}

.back-button:hover {
  color: #A50000;
}
