.fox-logo {
  height: 20rem;
  float: right;
}

h1 {
  margin-left: 5rem;
}

li {
  margin-left: 7rem;
  list-style-type: none;
}

.inline {
  display: inline-block;
  padding-right: .5rem;
  vertical-align: middle;
  margin: auto;
}

.thumbnail {
  width: 50px;
}

.score {
  font-weight: bold;
  font-size: 22pt
}

.name {
  font-family: serif;
}

.total {
  color: grey;
}
