.fox-logo {
  height: 20rem;
  float: right;
}

h1 {
  margin-left: 5rem;
}

li {
  margin-left: 7rem;
  list-style-type: none;
}

.inline {
  display: inline-block;
  padding-right: .5rem;
  vertical-align: middle;
  margin: auto;
}

.thumbnail {
  width: 50px;
}

.score-total {
  font-weight: bold;
  font-size: 22pt
}

.name {
  font-family: serif;
}

.total {
  color: grey;
}

.trophy-img {
  width: 80px;
}

.winner-flag {
  width: 80px;
  margin: auto;
}

.correct-pick {
  color: green;
  font-weight: bold;
}

.incorrect-pick {
  color: red;
  text-decoration: line-through;
}

.no-entry {
  color: grey;
  font-style: italic;
}

p.possible-score.year {
  color:grey;
  font-size: 14px;
  letter-spacing: 5px;
}

.back-button {
  text-align: left;
  padding-left: 2rem;
  margin: 0;
}
